.vscode/
temp/
*.exe
hclient
hserver
lopen
lread
tclient
tserver
endian
iaddr
iaton
intoa
eclient
eserver
mclient
mserver
bhost1
bhost2
ueclient
ueserver
eclient2
fclient
fserver
reserver
test
fork
pipe2
recive.txt
test.txt
*.o